.borde {
    border: 1px solid red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: black;
    font-size: 16px;
    height: 100%;
}
::selection {
    color: white;
    background: var(--dedalo);
}
::-moz-selection {
    color: white;
    background: var(--dedalo);
}

:root {
    --amarillo: #ffcc00;
    --vino: #671F0E;
    --cafe: #6E5A49;
    --dedalo: #D2C29D;
    --blanco40: rgba(255,255,255,0.4);
    --blanco50: rgba(255,255,255,0.5);
    --blanco60: rgba(255,255,255,0.6);
    --blanco70: rgba(255,255,255,0.7);
    --blanco80: rgba(255,255,255,0.8);
    --blanco90: rgba(255,255,255,0.9);
    --negro20: rgba(0,0,0,0.2);
    --trans: all 0.2s ease-in-out;
}

.ocultar {display: none;}

button, input, select, textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

footer {
    font-family: Lato-Bold;
    font-size: 10px;
}

#main_menu { /*Menú general del sitio*/
    font-family: 'Kurale', serif;
    letter-spacing: 0.8px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background: linear-gradient(
    rgba(20,20,20, .1), 
    rgba(20,20,20, .5)), 
    url('../images/bkgr-main-menu.png') no-repeat top center;
    background-size: cover;
}
#main_menu .titulo {
    margin-left: 55px;
}
#main_menu .titulo .menu-ico {
    font-size: 1.3em;
    text-transform: uppercase;
    transition: var(--trans);
}
#main_menu .titulo .menu-ico::before {
    content: ' ';
    position: absolute;
    display: inline-block;
    margin-left: -35px;
    top: 16px;
    width: 29px;
    height: 29px;
    background: url('../images/icono-cubiertos.svg') no-repeat left center;
    transition: var(--trans);
}
#main_menu .titulo a {
    color: white;
    text-decoration: none;
    /* padding: 10px; */
}
#main_menu .titulo .menu-ico:hover::before {
    background: url('../images/icono-cubiertos-hover.svg') no-repeat left center;
}
#main_menu .titulo a .menu-ico:hover {
    color: var(--amarillo); 
}

/* MENÚ ICONOS (menú - tripadvisor) */
#main_menu .titulo-interna {
    display: flex;
}
#main_menu .titulo-interna li {
    text-decoration: none;
    list-style: none;
}
#main_menu .titulo-interna li a {
    padding: 13px 24px;
}
#main_menu .titulo-interna li .menu-ico {
    background: url('../images/icono-cubiertos.svg') no-repeat center center !important;
    background-size: 29px !important;
    transition: var(--trans);
}
#main_menu .titulo-interna li .menu-ico:hover {
    background: url('../images/icono-cubiertos-hover.svg') no-repeat center center !important;
    background-size: 29px !important;
    transition: var(--trans);
}
#main_menu .titulo-interna li .tripadvisor-ico {
    background: url('../images/icono-tripadvisor-1.svg')no-repeat center center !important;
    background-size: 29px !important;
    transition: var(--trans);
}
#main_menu .titulo-interna li .tripadvisor-ico:hover {
    background: url('../images/icono-tripadvisor-hover.svg')no-repeat center center !important;
    background-size: 29px !important;
    transition: var(--trans);
}
#main_menu .titulo-interna li .smile-ico {
    background: url('../images/icono-smile.svg')no-repeat center center !important;
    background-size: 25px !important;
    transition: var(--trans);
}
#main_menu .titulo-interna li .smile-ico:hover {
    background: url('../images/icono-smile-hover.svg')no-repeat center center !important;
    background-size: 25px !important;
    transition: var(--trans);
}

/* MENÚ HOME */
#main_menu .alimentos, #main_menu  .bebidas, #main_menu  .postres {
    transition: var(--trans);
    border-right: 1px solid rgba(255,255,255,0.4);
    padding: 5px 12px;
}
#main_menu  .postres {
    border-right: none;                    
}
#main_menu .alimentos:hover, #main_menu  .bebidas:hover, #main_menu  .postres:hover {
    color: var(--amarillo);
}
#main_menu .menu ul {
    font-size: 0.8em;
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
#main_menu .menu ul li a {
    color: white;
    text-decoration: none;
}
#main_menu .menu .idioma {
    border:1px solid white;
    color: white;
    background: none;
    padding: 13px 10px;
    margin-right: 5px;
    transition: var(--trans);
}
#main_menu .menu .idioma:hover {
    color: black;
    border:1px solid var(--amarillo);
    background: var(--amarillo);
}

/*-------------------------------------------*/
/*------ MENÚ de Alimentos, Bebidas, Postres */
/*-------------------------------------------*/
#menu_alimentos_bebidas {
    background: linear-gradient(
        rgba(0,0,0, .2), 
        rgba(0,0,0, .8)),
        url('../images/bkgr-platillos@2x.jpg') no-repeat top center;
        background-size: cover;
    }
    
#menu_alimentos_bebidas .container {
    height: 100vh;
    display: grid;
    justify-content: center;
}
#menu_opciones {
    height: 75vh;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}
#menu_opciones ul {
    margin: 10px auto; 
}
#menu_opciones ul li {
    display: flex;
    list-style: none;
    text-align: center;
}
#menu_opciones ul li a {
    width: 150px;
    padding: 13px 0;
    margin: 5px 0;
    vertical-align: middle;
    color: black;
    background: white;
    text-decoration: none;
    transition: var(--trans);
}
#menu_opciones ul li a:hover {
    color: var(--amarillo);
    background: black;
}
#menu_opciones::before, #menu_opciones::after {
    content: ' ';
    display: block;
    margin: 0 auto;
    width: 210px;
    height: 20px;
    background: url('../images/adorno-01.svg') no-repeat center center;
}
#menu_opciones::after {transform: rotate(180deg);}

#menu_secundario {
    margin: 0 auto 10px auto !important;
    z-index: 101;
}

#menu_secundario li a {
    padding: 8px 0 !important;
}

#menu_secundario li a .tripadvisor, #menu_secundario li a .evaluanos {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    transition: var(--trans);
}
#menu_secundario li a .tripadvisor {
    background: url('../images/icono-tripadvisor-1.svg')no-repeat center center !important;
    background-size: contain !important;
}
#menu_secundario li a:hover .tripadvisor {
    background: url('../images/icono-tripadvisor-hover.svg')no-repeat center center !important;
    background-size: contain !important;
}
#menu_secundario li a .evaluanos {
    background: url('../images/icono-smile.svg')no-repeat center center;
    background-size: contain;
    width: 21px;
}
#menu_secundario li a:hover .evaluanos {
    background: url('../images/icono-smile-hover.svg')no-repeat center center;
    background-size: contain;
}
#menu_secundario li a {
    color: white !important;
    background: none !important;
    border: 1px solid white !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu_secundario li a:hover {
    color: var(--amarillo) !important;
    border:1px solid var(--amarillo) !important;
}

.cocina_de_brasa {
    position: relative;
    bottom: -5%;
}
.cocina_de_brasa p {
    color: var(--amarillo);
    width: 100%;
    bottom: 31px;
    font-family: 'Kurale', serif;
    font-weight: bolder;
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    z-index: 101;
}
.cocina_de_brasa img {
    bottom: 0;
    left: 0;
    right: 0;
    left: 50%;
    margin-left: -135px;
    /* margin-bottom: 5%; */
    position: absolute;
    width: 270px;
    z-index: 100;
}
.menu_opciones {
    z-index: 101;
}

.footer_menu_principal {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    color: var(--blanco70);
    font-size: 0.8em;
    letter-spacing: 0.38px;
}

/* -------------------- */
/* ENTRADAS */
/* -------------------- */
.entradas .guacamole {background: url('../images/alimentos/entradas/guacamole.jpg') no-repeat center center !important;}
.entradas .nachos_arr {background: url('../images/alimentos/entradas/nachos-de-arrachera.jpg') no-repeat center center !important;}
.entradas .nachos_nat {background: url('../images/alimentos/entradas/nachos-naturales.jpg') no-repeat center center !important;}
.entradas .escalopa_atun {background: url('../images/alimentos/entradas/escalopa-de-atun.jpg') no-repeat center center !important;}
.entradas .queso_fun_cham {background: url('../images/alimentos/entradas/queso-fundido-con-champinones.jpg') no-repeat center center !important;}

/* -------------------- */
/* SOPAS */
/* -------------------- */
.sopas .sopa_tortilla {background: url('../images/alimentos/sopas/sopa-de-tortilla.jpg') no-repeat center center !important;}
.sopas .sopa_mariscos {background: url('../images/alimentos/sopas/sopa-de-mariscos.jpg') no-repeat center center !important;}
.sopas .sopa_lima {background: url('../images/alimentos/sopas/sopa-de-lima.jpg') no-repeat center center !important;}

/* -------------------- */
/* VIVA MÉXICO */
/* -------------------- */
.viva_mexico .burrito_pollo {background: url('../images/alimentos/viva-mexico/burrito-de-pollo.jpg') no-repeat center center !important;}
.viva_mexico .enchiladas_mex {background: url('../images/alimentos/viva-mexico/enchiladas-suizas.jpg') no-repeat center center !important;}
.viva_mexico .tacos_arr {background: url('../images/alimentos/viva-mexico/tacos-de-arrachera.jpg') no-repeat center center !important;}
.viva_mexico .combo_mex {background: url('../images/alimentos/viva-mexico/combo-mexicano.jpg') no-repeat center center !important;}
.viva_mexico .fajitas_mar_tierra {background: url('../images/alimentos/viva-mexico/fajitas-mar-y-tierra.jpg') no-repeat center center !important;}

/* -------------------- */
/* DEL MAR */
/* -------------------- */
.del_mar .camarones_coco {background: url('../images/alimentos/del-mar/camarones-al-coco.jpg') no-repeat center center !important;}
.del_mar .salmon_cacahuate {background: url('../images/alimentos/del-mar/salmon-en-salsa-de-cacahuate.jpg') no-repeat center center !important;}
.del_mar .pescado_tequila {background: url('../images/alimentos/del-mar/pescado-al-tequila.jpg') no-repeat center center !important;}
.del_mar .pulpo_ajillo {background: url('../images/alimentos/del-mar/pulpo-al-ajillo.jpg') no-repeat center center !important;}

/* -------------------- */
/* ESPECIALIDADES MAYAS */
/* -------------------- */
.esp_mayas .poc_chuc {background: url('../images/alimentos/especialidades-mayas/poc-chuc.jpg') no-repeat center center !important;}
.esp_mayas .queso_relleno {background: url('../images/alimentos/especialidades-mayas/queso-relleno.jpg') no-repeat center center !important;}

/* -------------------- */
/* VEGANOS */
/* -------------------- */
.veganos .fajitas {background: url('../images/alimentos/veganos/fajitas-veganas.jpg') no-repeat center center !important;}
.veganos .tarta_berenjena {background: url('../images/alimentos/veganos/tarta-de-berenjena.jpg') no-repeat center center !important;}

/* -------------------- */
/* CARNES A LAS BRASAS */
/* -------------------- */
.carnes_brasas .rib_eye {background: url('../images/alimentos/carnes-a-las-brasas/rib-eye.jpg') no-repeat center center !important;}
.carnes_brasas .salmon {background: url('../images/alimentos/carnes-a-las-brasas/salmon.jpg') no-repeat center center !important;}
.carnes_brasas .pulpo {background: url('../images/alimentos/carnes-a-las-brasas/pulpo.jpg') no-repeat center center !important;}
.carnes_brasas .parrillada_mex {background: url('../images/alimentos/carnes-a-las-brasas/parrillada-mexicana.jpg') no-repeat center center !important;}
.carnes_brasas .costilla_cerdo {background: url('../images/alimentos/carnes-a-las-brasas/costillas-de-cerdo-en-su-jugo.jpg') no-repeat center center !important;}
.carnes_brasas .pechuga_pollo_tequila {background: url('../images/alimentos/carnes-a-las-brasas/pechuga-de-pollo-al-tequila.jpg') no-repeat center center !important;}
.carnes_brasas .t-bone {background: url('../images/alimentos/carnes-a-las-brasas/t-bone.jpg') no-repeat center center !important;}
.carnes_brasas .cowboy {background: url('../images/alimentos/carnes-a-las-brasas/cowboy.jpg') no-repeat center center !important;}

/* -------------------- */
/* COMPLEMENTOS */
/* -------------------- */
.complementos .espinacas {background: url('../images/alimentos/complementos/espinacas-a-la-crema.jpg') no-repeat center center !important;}

/* -------------------- */
/* POSTRES */
/* -------------------- */
.postres .foto {border-left:4px solid rgb(196, 72, 0) !important;}
.postres .helados {background: url('../images/postres/helado-artesanal-de-coco.jpg') no-repeat center center !important;}
.postres .pastel_queso {background: url('../images/postres/pastel-de-queso.jpg') no-repeat center center !important;}
.postres .pastel_chocolate {background: url('../images/postres/pastel-de-chocolate.jpg') no-repeat center center !important;}
.postres .crepa {background: url('../images/postres/crepa.jpg') no-repeat center center !important;}
.postres .cafe_latte {background: url('../images/postres/cafe-latte.jpg') no-repeat center center !important;}
.postres .bunuelo {background: url('../images/postres/bunuelo.jpg') no-repeat center center !important;}
.postres .flan {background: url('../images/postres/flan.jpg') no-repeat center center !important;}

/* -------------------- */
/* BEBIDAS */
/* -------------------- */
.bebidas .contenido {
    align-items: center;
    display: grid;
}
.bebidas .foto.sin_foto {
    width: 0 !important;
    height: 0 !important;
}
.bebidas .foto {
    width: auto !important;
    height: 70px !important;
    object-position: -999999px 999999px !important;
    background-size: contain !important;
}
.bebidas .modal-content {
    width: auto;
    height: 350px;
}
.bebidas .platillo {padding-bottom: 5px;}

/* cervezas artesanales */
.bebidas .catrina {background: url('../images/bebidas/cervezas-artesanales/catrina.png') no-repeat center center !important;}
.bebidas .cucapa_border {background: url('../images/bebidas/cervezas-artesanales/cucapa-border.png') no-repeat center center !important;}
.bebidas .cucapa_oscura {background: url('../images/bebidas/cervezas-artesanales/cucapa-oscura.png') no-repeat center center !important;}
.bebidas .hidalgo {background: url('../images/bebidas/cervezas-artesanales/hidalgo.png') no-repeat center center !important;}
.bebidas .ita {background: url('../images/bebidas/cervezas-artesanales/ita.png') no-repeat center center !important;}
.bebidas .jaguar {background: url('../images/bebidas/cervezas-artesanales/jaguar.png') no-repeat center center !important;}
.bebidas .minerva_colonial {background: url('../images/bebidas/cervezas-artesanales/minerva-colonial.png') no-repeat center center !important;}
.bebidas .minerva_india {background: url('../images/bebidas/cervezas-artesanales/minerva-india-pale-ale.png') no-repeat center center !important;}
.bebidas .minerva_pale_ale {background: url('../images/bebidas/cervezas-artesanales/minerva-pale-ale.png') no-repeat center center !important;}
.bebidas .minerva_stout_imperial {background: url('../images/bebidas/cervezas-artesanales/minerva-stout-imperial.png') no-repeat center center !important;}
.bebidas .minerva_imperial_tequila {background: url('../images/bebidas/cervezas-artesanales/minerva-imperial-tequila-ale.png') no-repeat center center !important;}
.bebidas .perro_del_mar {background: url('../images/bebidas/cervezas-artesanales/perro-del-mar.png') no-repeat center center !important;}
.bebidas .tulum {background: url('../images/bebidas/cervezas-artesanales/tulum.png') no-repeat center center !important;}

/* cervezas */
.bebidas .corona {background: url('../images/bebidas/cervezas/corona.png') no-repeat center center !important;}
.bebidas .tecate {background: url('../images/bebidas/cervezas/tecate.png') no-repeat center center !important;}
.bebidas .xx_lager_ambar {background: url('../images/bebidas/cervezas/xx-lager-ambar.png') no-repeat center center !important;}
.bebidas .bohemia {background: url('../images/bebidas/cervezas/bohemia-clara-oscura.png') no-repeat center center !important;}

/*Estilos generales del menú alimentos-bebidas-postres*/
.menu_ p, .menu_ .precios span {color: var(--vino);}
.menu_ h2, .menu_ h2 span, .menu_ .precios .signo  {color: black;}
.menu_ h2 {
    font-size: 1em;
    letter-spacing: 0.3px;
    margin-bottom: 7px;
}
.menu_ h2 span {
    font-size: 0.9em;
    font-weight: 300;
    margin-left: 4px;
}
.menu_ h1, .menu_ .h1_ {
    font-family: Kurale-Regular;
    font-size: 22px;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 22px;
}
.menu_ .h1_ {
    color: white !important;
    text-transform: inherit;
}
.menu_ .h1_n {
    color: rgb(196, 72, 0) !important;
    text-transform: inherit;
}
.menu_ .h1_, .menu_ .h1_n:after {content: " ···";}
.menu_ .h1_, .menu_ .h1_n:before {content: "··· ";}
.menu_ .adornos {
    padding: 20px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.menu_ .adornos:nth-last-child(1) {
    bottom: 50px;
    padding: 0;
}
.menu_ .adornos img {
    position: absolute;
    height: 45px;
    width: 45px;
    top: 7px;
}
.menu_ .adornos img:nth-child(1) {
    left: 15px;
}
.menu_ .adornos img:nth-last-child(1) {
    right: 15px;
    transform: scaleX(-1);
}
.menu_ .adornos img.item-3, .menu_ .adornos img.item-4 {
    transform: scaley(-1);
}
.menu_ .adornos img.item-4 {
    transform: rotate(180deg);
}
.menu_ p {
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 1.3em;
}
.menu_ .precios {
    font-size: 0.9em;
}
.menu_ .precio {
    float: right;
}
.menu_ .precios, .menu_ span {
    font-family: 'Kurale', serif;
}
.menu_ h2, .menu_ p {
    font-family: 'Lato', sans-serif;
}
.menu_ .foto {
    margin-right: 12px;
    width: 100%;
    max-width: 100px;
    height: 85px;
    object-position: -99999px 99999px;
    background-size: cover !important;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.menu_ .foto:hover {opacity: 0.7;}

.menu_ .sin_foto {
    width: 0;
    height: 0;
    margin-right: 0;
}
.menu_ .adorno-divisor {
    margin-top: 20px;
}

/*Estilos generales del menú CARNE A LAS BRASAS --(h1, h2, p, span BEBIDAS)*/
#menu_alimentos.brasas {
    background: linear-gradient(
        rgba(0,0,0, .5), 
        rgba(0,0,0, .5)), url('../images/bkgr-carbon.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
.brasas #menualimentos {
    color: black;
    background: url('../images/lnr-chevron-down-negro.svg');
    background-color: var(--amarillo);
    background-repeat: no-repeat;
    background-position: right;
}
.menu_.brasas .platillo h2,
.menu_.brasas h1, 
.menu_.brasas .platillo .signo,
.menu_.brasas small,
.menu_.bebidas .platillo h2,
.menu_.bebidas h1,
.menu_.bebidas small { 
    color: var(--amarillo);
}
.menu_.brasas .platillo p,
.menu_.brasas .platillo span,
.menu_.bebidas .platillo p,
.menu_.bebidas .platillo span {
    color: white;
}
.menu_.brasas .platillo, .menu_.bebidas .platillo {
    border-bottom: 1px solid var(--blanco40);
}
.menu_.brasas .foto {border: 2px solid white}
.menu_.brasas .footer_menu small, .menu_.brasas .footer_menu figure img, .menu_.bebidas .footer_menu small {
    color: white;
    opacity: 70%;
}

/*------ MENÚ SELECT Alimentos */
#menu_alimentos, #menu_postres {
    background: url('../images/bkgr-menu.jpg') no-repeat top center;
    background-size: cover;
}
#menu_alimentos .container, #menu_bebidas .container, #menu_postres .container {
    display: grid;
    justify-items: flex-start;
    grid-template-rows: auto auto auto auto 1fr;
    padding-top: 65px;
    height: 100%;
}
#menualimentos {
    position: sticky;
    top: 0;
    box-sizing: content-box;
    -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
    border: 6px solid var(--blanco90);
    background: url('../images/lnr-chevron-down.svg'), url('../images/bkgr-main-menu.png') no-repeat right;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
    font-family: Kurale-Regular;
    font-size: 1.1em;
    display: block;
    height: 50px;
    padding-right: 10px;
    right: -30px;
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 5px;
    width: 65%;
    outline: 0;
    cursor: pointer;
    text-align: center;
    text-align-last: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
    text-indent: 5px;
    -webkit-box-shadow: -1px 10px 10px -3px rgba(0,0,0,0.22);
    -moz-box-shadow: -1px 10px 10px -3px rgba(0,0,0,0.22);
    box-shadow: -1px 10px 10px -3px rgba(0,0,0,0.22);
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    line-height: 1;
    z-index: 1;
}
#menualimentos:hover {
    border: 6px solid var(--amarillo);
}

/*Estilos generales del menú BEBIDAS*/
#menu_bebidas {
    background: linear-gradient(
        rgba(0,0,0, .3), 
        rgba(0,0,0, .3)), url('../images/bkgr-bebidas.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
#menu_bebidas .signo {color: var(--amarillo)}

/*Estilos generales del menú POSTRES*/

/*------ ARQUITECTURA GRID MENÚ */
.container_platillos {
    display: grid;
    justify-items: center;
    padding: 0 15px;
    width: 100%;
}
.container_platillos small {
    color: var(--vino);
    padding: 10px 0 20px;
}
.container_platillos span {
    color: white;
}
.platillo {
    width: 100%;
    display: grid;
    grid-template: auto / auto 1fr;
    padding: 15px 0;
    border-bottom: 1px solid var(--negro20);
}
.container_platillo.doble_precio .platillo {
    grid-template: auto / auto 1fr;
}
.container_platillos.doble_precio .precios {
    display: flex;
    justify-content: flex-end;
}
.container_platillos.doble_precio .precios.item2 {
    margin-left: 25px;
}

.container_platillos.doble_precio .signo {
    margin-right: 10px;
}
.container_precio_iconos {
    padding-bottom: 0;
    border: 0px !important;
}
.precio_iconos {
    display: flex;
    justify-content: flex-end;
}
.precio_iconos .item1, .precio_iconos .item2 {
    display: inline-block;
    height: 40px;
    width: 48px;
}
.mright24px {margin-right: 24px;}
.mright-3px {margin-right: -3px;}
.mright4px {margin-right: 4px;}
.height60 {height: 60% !important;}
.height70 {height: 70% !important;}
.platillo .contenido .item_primario, .platillo .contenido .item_secundario {
    display: grid;
    grid-template: auto / auto 45px;
}
.platillo h2 {
    position: relative;
}
.certangus {
    position: absolute;
    width: 33px;
    top: -5px;
    margin-left: 5px;
}

/*------ FOOTER Menú */
.footer_menu {
    font-family: Kurale-Regular;
    font-size: 0.85em;
    color: var(--cafe);
    letter-spacing: 0.3px;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
    display: grid;
    align-content: end; 
    justify-items: center;  
}
.footer_menu small {
    opacity: 50%;
}
.footer_menu figure img {
    opacity: 50%;
    margin: 0 5px;
    width: 60px;
}
.footer_menu figure img:nth-last-child(1) {
    width: 80px;
}
.footer_menu .adornos {
    opacity: 100% !important;
}

/* MODAL IMAGES */  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-bottom: 5px solid var(--amarillo);
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    font-family: Kurale-Regular;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: var(--amarillo);
    letter-spacing: 0.4px;
    padding: 10px 0;
    height: 150px;
    z-index: 9999;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
    z-index: 9999;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: auto;
    left: auto;
    text-align: center;
    color: #f1f1f1;
    font-size: 70px;
    width: 100%;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
        width: 90%;
    }
  }

  /* display: grid;

    grid-template: 170px 1fr auto / 1fr 240px;
    grid-gap: 7px 20px;
    grid-template-areas: "formulario-container type-transfer" 
                         "formulario-container type-vehicle" 
                         "formulario-container type-vehicle"
                         "notes notes"; */